<!DOCTYPE html>
<html>
<head>
    <style>

        h1{
            color: black;
            font-size: 80px;
        }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

</body>
<br>
<br>
<h1><center><font color='#c0c0c0'>{{ item.item_name }}</font></center></h1>
    <center><img src="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/common/mkt/pdp/tablets/matepad.jpg" style="width:50%"></center>
<center>
<font color='#c0c0c0'>Belong to {{ item.owner }}. Please pickup and return {{ item.pickup_place }}</font>
<ul>
<form action="{% url 'ku_lend:confirm' item.id %}" method="post">
    {% csrf_token %}
    <lable> Borrow Date: </lable> <input type='date' name='borrow_date' required='true'>
    <br>
    <label>Return Date: </lable> <input type='date' name='return_date' required='true'>
    <input type="submit" class="btn btn-success" value="Confirm">
</form>
</ul>
</center>

</html>