<!DOCTYPE html>
<html>
<head>


<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>KU LEND</title>


</head>
<body>

<ul>
  <li><a class="active" href="https://kulend.herokuapp.com/">KU LEND</a></li>
       {% load socialaccount %}
{% if user.is_authenticated %}
  <li style="float:right"><a href="https://kulend.herokuapp.com/profile/">PROFILE</a></li>
{% endif %}
</ul>


 <center>
<br>
<br>
<h3><font color='#808080'>KASETSART UNIVERSITY</font></h3>
     <h2><font color='#303030'><b>WHAT DO YOU WANT TO BORROW?</b></font></h2>




{% load socialaccount %}
    {% load static %}
    {% static "" as baseUrl %}

   {% load socialaccount %}
{% if user.is_authenticated %}
<h1>Welcome, {{ user.username }} !</h1>
<a href="https://kulend.herokuapp.com/accounts/logout"><button>Logout</button></a>
{% else %}
     <h4><small><font color='#808080'>Please login before lend.</small></font></h4>
     <a href="{% provider_login_url 'google' %}"><font color='#808080'><button>Login with Google</button></font></a>
{% endif %}
 </center>

<div class="slideshow-container">
{% if latest_item_list %}
        <ul>
    {% for item in latest_item_list %}
            <div class="mySlides fade">
                <small><a href="{% url 'ku_lend:borrow_form' item.id %}">
              <img src="{{item.item_image.url}}" style="width:100%">
              </a></small>
                <div class="text" >{{ item.item_name }}</div>
            </div>
    {% endfor %}
        </ul>
    {% else %}
        <p>No item are available.</p>
    {% endif %}


<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>


<div style="text-align:center">
    {% for i in items %}
  <span class="dot" onclick='currentSlide({{forloop.counter}})'></span>

    {% endfor %}
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

</script>
</body>
</html>