{% load socialaccount %}
{% if user.is_authenticated %}
<h1>Welcome, {{ user.email }} !</h1>
<a href="http://127.0.0.1:8000/accounts/logout">Logout</a>
{% else %}
<h1>Login Page</h1>
<a href="{% provider_login_url 'google' %}">Login with Google</a>
{% endif %}

{% if latest_item_list %}
    <ul>
    {% for item in latest_item_list %}
    <li><a href="{% url 'ku_lend:borrow_form' item.id %}">{{ item.item_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No item are available.</p>
{% endif %}