<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
{% if user.is_authenticated %}
    {% for oauth_user in profile %}
        {% if user.email == oauth_user.email%}
            <h2>{{oauth_user.email}}</h2>
        {%endif%}
        {% if user.first_name == oauth_user.first_name%}
            <h2>{{oauth_user.first_name}}  {{oauth_user.last_name}}</h2>

        {% endif %}
    {% endfor%}
<h2>History</h2>
<table>
  <tr>
    <th>Item</th>
    <th>Borrowed Date</th>
    <th>Return Date</th>
    <th>Fee</th>
    <th>Status</th>
    <th>Note</th>
  </tr>
  {% for user in history %}
  <tr>
    <td>{{user.item.item_name}}</td>
    <td>{{user.borrow_date}}</td>
    <td>{{user.return_date}}</td>
    <td>{{user.borrower_fee}}</td>
    <td>{{user.borrower_paid_status}}</td>
    <td>{{user.item.note}}</td>
  </tr>
  {% endfor %}
</table>
{% endif%}
</body>
</html>